<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'include/cdn_links.html' %}
    
    {% block head %}
        <title>CleanAi</title>
    {% endblock head %}
</head>
<body>
    {% include 'include/navbar.html' %}
    {% block content %}
        <div class="container d-flex justify-content-center align-items-center p-5 h2">
            Index Page
        </div>
    {% endblock content %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>