{% extends "layout/base.html" %}

{% block head %}
<title>{{ title }}</title>
{% endblock head %}

{% block content %}
<div class="container border-bottom pb-4 p-5 d-flex justify-content-center align-content-center">
    <div class="">
        <div class="d-flex justify-content-center">
            <p class="h3">Upload Image Files</p>
        </div>
        <form method="POST" class="card" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="py-4 p-4">
                <input type="file" accept="image/jpg image/jpeg" name="media_file" required class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center py-4">
    <div>
        <div class="d-flex justify-content-between px-0">
            <p class="h4 text-muted">Files Ready For Processing</p>
            <div>
                <button class="btn btn-sm btn-success">process <i class="fa fa-circle-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row col-md-12 col-lg-12">

            {% for file in processed_files %}
            <div class="py-1">
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img src="{{file.file.url}}" style="cursor: pointer;" height="60" width="90" alt="">
                            <!-- <div class="ml-2">
                                <a href="#" class="d-flex align-items-center text-decoration-none">
                                     <i class="fa fa-download text-primary"></i> download 
                                </a> 
                                <a href="#" class="d-flex align-items-center text-decoration-none">
                                    <i class="fa fa-eye text-primary"></i> view
                                </a>
                            </div> -->
                        </div>
                        <div class="p-1">
                            <i class="fa fa-check-circle text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}